@model IReadOnlyDictionary<string, IEnumerable<SCCB.Core.DTO.Classroom>>

@foreach (var group in Model)
{
    <optgroup label="@group.Key">
        @foreach (var classroom in group.Value)
        {
            <option value="@classroom.Id">@classroom.Number</option>
        }
    </optgroup>
}