.edit-bg {
    max-width: 70rem;
    margin: 0 auto;
    margin-bottom: 6.25rem;
    background: rgba(27, 29, 34, 0.7);
    box-shadow: 0rem 0.25rem 6.25rem rgba(0, 201, 209, 0.07);
    border-radius: 0.2rem;
    border-left: 0.2rem solid rgba(0, 201, 209, 0.95);
}

.wrapper {
    width: 90%;
}
.wrapper a {
    border: .05rem solid white;
    border-radius: .2rem;
    color: white;
}

@media(max-width:992px) {
    .wrapper {
        width: 100%;
    }
}

.panel-heading {
    padding: 0;
    border: 0;
}

.panel-title > a, .panel-title > a:active {
    display: block;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.panel-heading a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    transition: all 0.5s;
}

.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

button.green-bg {
    font-size: 0.9375rem;
}

.green-bg-reverse {
    color: white;
    background: rgba(17, 17, 17, 0.9);
}

button.green-bg-reverse {
    border: none;
    outline: none;
    color: white;
    border-radius: 0.2rem;
}

button.green-bg-reverse:hover {
    background: rgba(0, 201, 209, 0.95);
    -webkit-transition: .4s ease-out;
    -o-transition: .4s ease-out;
    transition: .4s ease-out;
}