:root {
    --gray: rgba(196, 196, 196, 0.25);
    --black: rgba(27, 29, 34, 0.9);
    --second_font: 'Roboto Slab', serif;
}

header {
    background: linear-gradient(to bottom, rgba(27, 29, 34, .85), rgba(27, 29, 34, .85)), url('../img/LNU (blurred).png');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.info-block h2 {
    font-family: var(--second_font);
    font-weight: bold;
}

.main-content {
    background: white;
}

.schedule-filter-container {
    width: 65rem;
    max-width: 65rem;
    margin-bottom: 6.25rem;
}

.schedule-bg {
    min-height: 15.625rem;
    background: rgba(27, 29, 34, 0.85);
    border-radius: 0.2rem;
}

.modal-header button, .edit-delete-buttons button {
    outline: none;
}

.bootstrap-select .dropdown-toggle:focus {
    border: none !important;
    outline: none !important;
}

.btn-light {
    color: black;
    background: white;
    font-weight: bold;
}

.btn-light, .btn-light:focus {
    box-shadow: none !important;
}

.wrapper {
    width: 100%;
}

.wrapper a {
    border: .05rem solid rgba(27, 29, 34, .85);
    border-radius: .2rem;
    color: white;
}

.panel-heading {
    padding: 0;
    border: 0;
    background: rgba(27, 29, 34, .85);
    border-radius: 0.1875rem;
}

.panel-title > a, .panel-title > a:active {
    display: block;
    font-size: 0.875rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.panel-heading a:before {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    transition: all 0.5s;
}

.panel-heading.active a:before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
}

.green-bg-reverse {
    background: rgba(17, 17, 17, 0.9);
}

.close-button, .edit-button {
    background: var(--gray);
}

button.green-bg-reverse, button.close-button, button.edit-button {
    border: none;
    outline: none;
    color: white;
    border-radius: 0.2rem;
    -webkit-transition: .4s ease-out;
    -o-transition: .4s ease-out;
    transition: .4s ease-out;
}

button.green-bg-reverse:hover {
    background: rgba(0, 201, 209, 0.95);
}

.border {
    border: 0.0625rem solid white;
    border-radius: 0.2rem;
}

.modal-body {
    padding-right: 13%;
    padding-left: 13%;
}

.modal-body input[type=checkbox] {
    width: 1rem;
    height: 1rem;
    display: table-cell;
    vertical-align: middle;
}

.lesson {
    background: var(--black);
    border-radius: 0.2rem;
}

.lesson-header {
    background: var(--gray);
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}

.lesson-bold-info {
    font-size: 1.1rem;
    font-weight: bold;
}

hr {
    opacity: 0.7;
    border: none;
    height: 0.15rem;
    background: var(--gray);
}

.close-button:hover, .edit-button:hover {
    background: rgba(17, 17, 17, 0.9);
}

.filter-label {
    background: rgba(27, 29, 34, .85);
    border-radius: 0.1875rem;
    font-weight: bold;
    font-size: 0.9375rem;
}

.clear-all {
    background: white;
    border: 0.09375rem solid black;
    border-radius: 0.1875rem;
    font-weight: bold;
    font-size: 0.9375rem;
}

.clear-all:hover {
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    background: rgba(27, 29, 34, .85);
    color: white;
}

.clear-all:focus {
    outline: none;
}

footer {
    background: black;
}