@section Styles {
    <link href="@Url.Content("~/css/login.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewData["Title"] = "Create New Password";
}

@section Header {
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark mb-3">
        <div class="container-fluid ml-4 mr-4">
            <a class="nav-link text-white nav-header pr-sm-3 main-link" asp-area="" asp-controller="Home" asp-action="Index">Планувальник</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <div class="animated-navbar-toggler-icon"><span></span><span></span><span></span><span></span></div>
            </button>
            <div class="navbar-collapse collapse justify-content-between flex-sm-row">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white px-sm-3" asp-area="" asp-controller="Home" asp-action="Privacy">Бронювання аудиторій</a>
                    </li>
                </ul>
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="img-link pr-sm-3" asp-area="" asp-controller="Profile" asp-action="Edit">
                                <img src="~/img/avatar.png" alt="Profile" width="50" />
                            </a>
                            <a class="nav-link link-mobile text-white pr-sm-3" asp-area="" asp-controller="Profile" asp-action="Edit">Профіль</a>
                        }
                        else
                        {
                            <a class="nav-link text-white pr-sm-3" asp-area="" asp-controller="Authentication" asp-action="LogIn">Логін</a>
                        }
                    </li>
                    <li class="nav-item">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a class="nav-link text-white pl-sm-3" asp-area="" asp-controller="Authentication" asp-action="LogOut">Вихід</a>
                        }
                        else
                        {
                            <a class="nav-link text-white pl-sm-3" asp-area="" asp-controller="Authentication" asp-action="SignUp">Реєстрація</a>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}

<div class="login-form mt-5 pt-5">
    <h2>Відновлення паролю</h2>

    <form class="mt-5 mb-5 pb-5">
        <div class="form-stuff">
            <div class="d-flex flex-column mb-3">
                <label class="ml-2">Новий пароль</label>
                <div>
                    <input id="showPass" class="pl-3" />
                    @*<span asp-validation-for="" class="field-validation-error"></span>*@
                    <p class="show-pass"> Показати пароль <input type="checkbox" class="showPass" data-id="#showPass" /></p>
                </div>
            </div>
            <div class="d-flex flex-column mb-4">
                <label class="ml-2">Повторіть новий пароль</label>
                <div>
                    <input id="showPassRep" class="pl-3" />
                    @*<span asp-validation-for="" class="field-validation-error"></span>*@
                    <p class="show-pass"> Показати пароль <input type="checkbox" class="showPass" data-id="#showPassRep" /></p>
                </div>
            </div>
            <button type="submit"><span>Зберегти</span></button>
        </div>
    </form>
</div>