@model SCCB.Web.Models.SignUpModel

@section Styles {
    <link href="@Url.Content("~/css/signup.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewData["Title"] = "SignUp";
}

<h1>SignUp</h1>

<form asp-action="SignUp" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" />
        @{if (ViewBag.Error != null)
            {
                <span class="field-validation-error">@ViewBag.Error</span>
            }
        }
    </div>
    <div>
        <label asp-for="Password">Password:</label>
        <input asp-for="Password" type="password" />
    </div>
    <div>
        <label asp-for="PasswordRepeat">Repeat password:</label>
        <input asp-for="PasswordRepeat" type="password" />
    </div>
    <button type="submit">SIGN UP</button>
</form>