@model GroupModel
@using SCCB.Core.Constants
@using SCCB.Web.ViewComponents

@section Styles {
    <link href="@Url.Content("~/css/profile.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/personalBooking.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/groups.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/usersEditing.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewData["Title"] = "Edit group";
}

@section Header {
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark mb-3">
        <div class="container-fluid ml-4 mr-4">
            <a class="nav-link text-white nav-header pr-sm-3 main-link" asp-area="" asp-controller="Home" asp-action="Index">Планувальник</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <div class="animated-navbar-toggler-icon"><span></span><span></span><span></span><span></span></div>
            </button>
            <div class="navbar-collapse collapse justify-content-between flex-sm-row">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white px-sm-3" asp-area="" asp-controller="Booking" asp-action="Create">Бронювання аудиторій</a>
                    </li>
                </ul>
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
                        @if (User.Identity.IsAuthenticated)
                        {
                            @if (User.IsInRole(Roles.Admin))
                            {
                                <a class="img-link pr-sm-3" asp-area="" asp-controller="Admin" asp-action="Index">
                                    <img src="~/img/avatar.png" alt="Profile" width="50" class="active" />
                                </a>
                                <a class="nav-link active link-mobile text-white pr-sm-3" asp-area="" asp-controller="Admin" asp-action="Index">Профіль</a>
                            }
                            else
                            {
                                <a class="img-link pr-sm-3" asp-area="" asp-controller="Profile" asp-action="Edit">
                                    <img src="~/img/avatar.png" alt="Profile" width="50" class="active" />
                                </a>
                                <a class="nav-link active link-mobile text-white pr-sm-3" asp-area="" asp-controller="Profile" asp-action="Edit">Профіль</a>
                            }
                        }
                        else
                        {
                            <a class="nav-link text-white pr-sm-3" asp-area="" asp-controller="Authentication" asp-action="LogIn">Логін</a>
                        }
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white pl-sm-3" asp-area="" asp-controller="Authentication" asp-action="LogOut">Вихід</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}

<div class="container-fluid container-profile px-5 py-4 mt-5 d-flex justify-content-center">
    <div class="container-group-create px-5 py-4">
        <form asp-action="Edit" method="post">
            <div class="d-flex flex-column mb-3">
                <input asp-for="Id" type="hidden" />
                <label asp-for="Name" class="ml-2">Змінити назву:</label>
                <input asp-for="Name" class="pl-3 py-2 w-100 border" />
            </div>
            <div class="d-flex justify-content-sm-end justify-content-center mb-3">
                <button type="submit" class="green-bg px-3 py-1">Зберегти</button>
            </div>
        </form>

        <div class="d-flex justify-content-sm-end justify-content-center my-3">
            @{
                var routeData = new Dictionary<string, string>
                                        {
                { "id", Model.Id.ToString() }
            };
            }
            <button type="button" class="butt px-3 py-1" data-toggle="modal" data-target="#confirmModal" data-url=@Url.Action("Remove", "Groups", routeData)>
                Видалити групу
            </button>
        </div>

        <div class="row my-4">
            <div id="Members" class="col-md-6 col-12 d-flex flex-column justify-content-start pb-3 pb-md-0">
                <h5 class="green-color">Члени групи:</h5>
                @await Component.InvokeAsync(typeof(UsersForGroupViewComponent),
                    new { groupId = Model.Id, areMembers = true })
            </div>
            <div id="AddMembers" class="col-md-6 col-12 d-flex flex-column justify-content-start pt-3 pt-md-0">
                <h5 class="green-color">Додати користувачів:</h5>
                @await Component.InvokeAsync(typeof(UsersForGroupViewComponent),
                    new { groupId = Model.Id, areMembers = false })
            </div>
        </div>
        <div class="d-flex justify-content-sm-start justify-content-center my-3">
            <a class="gray-bg px-3 py-2" asp-controller="Groups" asp-action="Index">Назад до моїх груп</a>
        </div>
    </div>
</div>

    <!-- Modal -->
    <div class="modal fade confirm" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content bg-dark">
                <div class="modal-header">
                    <p class="modal-title" id="confirmModalTitle">Ви впевнені, що хочете видалити вашу групу?</p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" class="text-danger">&times;</span>
                    </button>
                </div>
                <div class="modal-body d-flex justify-content-center">
                    <button type="button" id="Remove" class="close-button px-3 py-1 mr-3">
                        Видалити
                    </button>
                    <button type="button" class="butt white px-3 py-1" data-dismiss="modal">Закрити</button>
                </div>
            </div>
        </div>
    </div>

    @section scripts {
        <script src="~/js/GroupEdit.js" asp-append-version="true"></script>
    }
