@model ILookup<string, SCCB.Core.DTO.Classroom>

@foreach (var group in Model)
{
    <optgroup label="@group.Key">
        @foreach (var classroom in group)
        {
            <option value="@classroom.Id">@classroom.Number</option>
        }
    </optgroup>
}