@model SCCB.Web.Models.LessonModel
<!-- Modal -->
<div class="modal fade" id="AddingLesson" tabindex="-1" role="dialog" aria-labelledby="AddingLessonLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="AddingLessonLabel">Додавання пари</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-danger">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="EditLesson" asp-route-id="@Model.Id">

                    <div asp-validation-summary="ModelOnly" class="field-validation-error"></div>

                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <input asp-for="Id" type="hidden" />
                    <input id="groupId" asp-for="GroupId" type="hidden" />
                    <input id="weekday" asp-for="Weekday" type="hidden" data-type="lesson-date" />

                    <label asp-for="Title" class="ml-2">Вкажіть назву пари</label>
                    <div class="mb-4">
                        <input asp-for="Title" class="pl-3 py-2 w-100 border" />
                        <span asp-validation-for="Title" class="field-validation-error"></span>
                    </div>

                    <label asp-for="LessonNumber" class="ml-2">Вкажіть номер пари</label>
                    <div class="mb-4">
                        <select id="lessonNumber" asp-for="LessonNumber" class="w-100 selectpicker"
                                title="-- Оберіть номер пари --" data-type="lesson-date">
                            @for (int i = 1; i <= 8; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <span asp-validation-for="LessonNumber" class="field-validation-error"></span>
                    </div>

                    <div class="mb-4 mx-4 d-flex justify-content-between">
                        <div>
                            <label asp-for="IsEnumerator">Чисельник</label>
                            <input id="isNumerator" asp-for="IsEnumerator" type="checkbox" data-type="lesson-date" />
                            <span asp-validation-for="IsEnumerator" class="field-validation-error"></span>
                        </div>
                        <div>
                            <label asp-for="IsDenominator">Знаменник</label>
                            <input id="isDenominator" asp-for="IsDenominator" type="checkbox" data-type="lesson-date" />
                            <span asp-validation-for="IsDenominator" class="field-validation-error"></span>
                        </div>
                    </div>

                    <label asp-for="Type" class="ml-2">Вкажіть тип пари</label>
                    <div class="mb-4">
                        <select asp-for="Type" class="w-100 selectpicker" title="-- Оберіть тип пари --">
                            <option>Лекція</option>
                            <option>Практична</option>
                        </select>
                        <span asp-validation-for="Type" class="field-validation-error"></span>
                    </div>

                    <label asp-for="LectorId" class="ml-2">Оберіть викладача</label>
                    <div class="mb-4">
                        <select id="lectorId" asp-for="LectorId" class="w-100 selectpicker" data-live-search="true"
                                title="-- Оберіть викладача --">
                            @await Component.InvokeAsync(
                                typeof(SCCB.Web.ViewComponents.LectorOptionsViewComponent),
                                new SCCB.Core.DTO.LessonTime
                                {
                                    Weekday = Model.Weekday,
                                    LessonNumber = Model.LessonNumber,
                                    IsNumerator = Model.IsEnumerator,
                                    IsDenominator = Model.IsDenominator,
                                })
                        </select>
                        <span asp-validation-for="LectorId" class="field-validation-error"></span>
                    </div>

                    <label asp-for="ClassroomId" class="ml-2">Оберіть аудиторію</label>
                    <div class="mb-3">
                        <select id="classroomId" asp-for="ClassroomId" class="w-100 selectpicker" data-live-search="true"
                                title="-- Оберіть аудиторію --">
                            @await Component.InvokeAsync(
                                typeof(SCCB.Web.ViewComponents.ClassroomOptionsViewComponent),
                                new SCCB.Core.DTO.LessonTime
                                {
                                    Weekday = Model.Weekday,
                                    LessonNumber = Model.LessonNumber,
                                    IsNumerator = Model.IsEnumerator,
                                    IsDenominator = Model.IsDenominator,
                                })
                        </select>
                        <span asp-validation-for="ClassroomId" class="field-validation-error"></span>
                    </div>
                </form>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="green-bg px-3 py-2 mt-3 mb-3" id="AddLessonSubmit">
                        Зберегти
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

