@section Styles {
    <link href="@Url.Content("~/css/profile.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/personalBooking.css")" rel="stylesheet" type="text/css" />
}

@{
    ViewData["Title"] = "Your Bookings Page";
}

@section Header {
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark mb-3">
        <div class="container-fluid ml-4 mr-4">
            <a class="nav-link text-white nav-header pr-sm-3 main-link" asp-area="" asp-controller="Home" asp-action="Index">Планувальник</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <div class="animated-navbar-toggler-icon"><span></span><span></span><span></span><span></span></div>
            </button>
            <div class="navbar-collapse collapse justify-content-between flex-sm-row">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-white px-sm-3" asp-area="" asp-controller="Home" asp-action="Privacy">Бронювання аудиторій</a>
                    </li>
                </ul>
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
                        <a class="img-link pr-sm-3" asp-area="" asp-controller="Profile" asp-action="Edit">
                            <img src="~/img/avatar.png" alt="Profile" width="50" style="border: 0.09375rem solid rgba(0, 201, 209, .95)" />
                        </a>
                        <a class="nav-link active link-mobile text-white pr-sm-3" asp-area="" asp-controller="Profile" asp-action="Edit">Профіль</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white pl-sm-3" asp-area="" asp-controller="Authentication" asp-action="LogOut">Вихід</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
}

<div class="container-fluid container-profile px-5 mt-5">
    <div class="d-flex justify-content-between">
        <div class="profile-button d-flex justify-content-center align-items-center color-erase">
            <a class="my-2 font-slab font-weight-bold" asp-area="" asp-controller="Profile" asp-action="Edit">Ваш профіль</a>
        </div>
        <div class="profile-button d-flex justify-content-center align-items-center">
            <p class="my-2 font-slab hover-erase font-weight-bold">
                Ваші бронювання
            </p>
        </div>
    </div>
    <div class="profile-info-block my-4 py-5">
        <div class="row container-personal-booking">
            <div class="col-12 personal-booking-block">
                
                <div class="row personal-booking-block font-weight-bold">
                    <div class="col-4 ">Дата: 03.03.2020</div>
                    <div class="col-4 ">ауд. 439</div>
                    <div class="col-4 ">6 пара(16:10 - 18:00) </div>
                </div>
                <div class="row personal-booking-block text-white font-weight-bold">
                    <div class="col-12 ">Додаткова пара з систем СШІ в ПМІ-33</div>
                    
                </div>
                <div class="row  personal-booking-block ">
                    <div class="col-12 text-right font-weight-bold">
                        <button type="submit" class=" btn btn-outline-danger px-3 py-2">
                            Скасувати бронювання
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
