@model SCCB.Web.Models.ChangePasswordModel

<div class="modal fade" id="changePasswordModal" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="changePasswordModalTitle">Зміна паролю</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="text-danger">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="ChangePassword">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <label asp-for="OldPassword" class="ml-2">Введіть старий пароль</label>
                    <div>
                        <input id="showPass" asp-for="OldPassword" class="pl-3 py-1 border w-100" />
                        <span asp-validation-for="OldPassword" class="field-validation-error">
                            @{if (ViewBag.Error != null)
                                    @ViewBag.Error
                            }
                        </span>
                        <p class="show-pass"> Показати пароль <input type="checkbox" class="showPass" data-id="#showPass" /></p>
                    </div>
                    <label asp-for="NewPassword" class="ml-2">Введіть новий пароль</label>
                    <div>
                        <input id="showNewPass" asp-for="NewPassword" class="pl-3 py-1 border w-100" />
                        <span asp-validation-for="NewPassword" class="field-validation-error"></span>
                        <p class="show-pass"> Показати пароль <input type="checkbox" class="showPass" data-id="#showNewPass" /></p>
                    </div>
                    <label asp-for="NewPasswordRepeat" class="ml-2">Підтвердіть новий пароль</label>
                    <div>
                        <input id="showPassRep" asp-for="NewPasswordRepeat" class="pl-3 py-1 border w-100" />
                        <span asp-validation-for="NewPasswordRepeat" class="field-validation-error"></span>
                        <p class="show-pass"> Показати пароль <input type="checkbox" class="showPass" data-id="#showPassRep" /></p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="green-bg hover-erase px-3 py-1" data-save="modal">
                    Зберегти зміни
                </button>
            </div>
        </div>
    </div>
</div>
